:host {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 274px;

  z-index: 1;

  background: #ffffff;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2),
              0 16px 24px 2px rgba(0,0,0,.14),
              0 6px 30px 5px rgba(0,0,0,.12);
}

:host.opened {
  display: block;
}
