/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/core/theming/prebuilt/deeppurple-amber.css";
@import "~mapbox-gl/dist/mapbox-gl.css";

@import "app/mapbox-plugins/mapbox-plugins.css";

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  overflow: auto;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
