/**
 * ContainerControl
 */

.mapboxgl-ctrl-container {
  pointer-events: auto;
}

.mapboxgl-ctrl-top-right
.mapboxgl-ctrl-container {
  margin: 10px 10px 0 0;
}

.mapboxgl-ctrl-bottom-right
.mapboxgl-ctrl-container {
  margin: 0 10px 10px 0;
}

.mapboxgl-ctrl-bottom-left
.mapboxgl-ctrl-container {
  margin: 0 0 10px 10px;
}

.mapboxgl-ctrl-top-left
.mapboxgl-ctrl-container {
  margin: 10px 0 0 10px;
}
